.container-title {
  margin: .3rem 0;
}

.container-title > h1 {
  display: flex;
  justify-content: center;
  
  font-size: clamp(3.2rem, 2rem + 6vw, 8rem);

  color: white;
}

.container-title > hr {
  opacity: .3;
  max-width: 53rem;
  margin: 0 auto;
}
