/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0813;

  color: white;
  font-family: 'Segoe UI', sans-serif;

  padding: 0 .5rem;
  margin: 0 auto;

  height: 100vh;
  width: 20rem;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #a56df5;
}

@media (min-width: 768px) {
  body {
    width: 48rem;
  }
}

@media (min-width: 1440px) {
  body {
    width: 60rem;
  }
}
